In [53]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [54]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

In [55]:
site = 'http://tsmarketing.in/DailyArrivalsnPricesCommoditywise.aspx'

In [56]:
wd = webdriver.Chrome('chromedriver',options=options)
wd.get(site)

In [57]:
html = wd.page_source

In [58]:
df = pd.read_html(html)

In [63]:
df[0][:15]

,0,1,2,3,4,5,6,7
0,Commodity Name,Variety Name,Market Name,Arrivals(Qtls),Maximum,Minimum,Model,Purchase By
1,Paddy,Common (Hamsa),Narayanpet,27.6,1455,1446,1451,Private Traders
2,Grade-A,Suryapet,340,2019,1211,1359,Private Traders,NaN
3,Grade-A,Bodhan,139,1888,1888,1888,Private Traders,NaN
4,Grade-A,Korutla,10,2000,1940,1950,Private Traders,NaN
5,Grade-A (RNR),Suryapet,445,2151,1359,1729,Private Traders,NaN
6,Grade-A (Samba Masuri),Suryapet,170,2071,1414,1776,Private Traders,NaN
7,Grade-A (Samba Masuri),Tirmalagiri,53,1500,1465,1470,Private Traders,NaN
8,Grade-A (Sonamasuri),Narayanpet,334.8,1691,1211,1471,Private Traders,NaN
9,Grade-A (Sonamasuri),Gadwal,40,1657,1539,1657,Private Traders,NaN
10,Grade-A(IR64),Suryapet,115,1491,1251,1329,Private Traders,NaN
11,Grade-A(IR64),Tirmalagiri,23,1371,1359,1371,Private Traders,NaN
12,Maize,Common,Warangal,25.2,1857,1575,1679,Private Traders
13,Jowar,White,Narayanpet,24.99,2000,2000,2000,Private Traders
14,Red Gram,Common,Suryapet,25,5965,3096,5292,Private Traders